.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.list-container{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.main-container{
  padding: 12px 62px;
}

.grid-item {
  height: calc(100vw/4);
  background: whitesmoke;
  list-style: none;
  border-radius: 8px;
  cursor: pointer;
}

.details{
  padding: 12px 24px;
}

.grid-item > img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: calc(100% - 68px);
}

table {
  border: 1px solid #D6EEEE;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}